#modal-root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    z-index: 3;

    max-width: 400px;

    border: 1px solid white;

    &.fade-in {
      opacity: 1;
      transition: opacity linear 0.5s; // super slow to see fade works
    }
    &.fade-out {
      opacity: 0;
      transition: opacity linear 0.5s; // super slow to see fade works
    }
  }
  .modal-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
  }
}
