@import "./reset-styles.scss";
@import "./common-styles.scss";

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: $white;
}

.todo-list {
  position: relative;
  top: 10%;
  left: 0;

  margin: 0px auto;
}

#root {
  height: 100%;
}

.wrapper {
  padding: 0px 15px;
  height: 100%;

  overflow: auto;
  background-color: $dark1;
}
