body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #fff;
}

#root {
  height: 100%;
}

#tsparticles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #1e2235;
  z-index: -1;
}

.wrapper {
  padding: 0px 15px;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.wrapper main {
  flex: 1 1 auto;
}

.wrapper footer {
  max-height: 4rem;
  min-height: 4rem;
  border-top: 1px solid #395ac0;
  margin: 10vh 0px 0px 0px;
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.wrapper footer img {
  position: absolute;
  height: 2.5rem;
  animation-name: rotate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}