$white: #fff;
$dark-white1: #e1e6f9;
$dark-white2: #bbc1e1;
$dark1: #1e2235;
$dark2: #2b3044;
$blue: #5c86ff;
$dark-blue1: #395ac0;
$dark-blue2: #395bc088;
$shadow: rgba(0, 9, 61, 0.2);

button.btn_cross {
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #555;
  border-radius: 3px;
  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 2px;
    background-color: #222;
  }
  &::before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  &::after {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &:hover {
    transform: scale(1.1);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
