body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

// ============BUTTONS============

// <button/>
button.btn_cross {
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #555;
  border-radius: 3px;
  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 2px;
    background-color: #222;
  }
  &::before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  &::after {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &:hover {
    transform: scale(1.1);
  }
}

// ============CHECKBOX============

input.checkbox {
}
