.tasks-list {
  max-width: 100%;

  li {
    position: relative;

    max-width: 100%;
    border-bottom: 1px solid #555;
    padding: 4px;
    height: 2rem;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: height 0.2s ease;

    div.tasks-list__primary-area {
      display: flex;
      max-height: 100%;

      input {
        width: 1rem;
        height: 1rem;
        margin: 2px 5px 0px 0px;
      }

      span {
        max-width: calc(100% - 1rem - 5px);
        max-height: 100%;
        flex-grow: 1;
        line-height: 1.4;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: pre-wrap;
      }
    }

    // div.tasks-list__list__actions {
    //   width: 100%;
    //   min-height: 10px;
    //   visibility: hidden;
    //   background-color: #000;
    // }

    // &:last-child {
    //   border-bottom: none;
    // }
    &:hover {
      div.tasks-list__primary-area {
        span {
          word-wrap: break-word;
          overflow: auto;
        }
      }
      height: 10rem;
    }
  }
}
