.tasks-list {
  width: 100%;
  overflow: auto;

  .list-item {
    position: relative;

    max-width: 100%;
    border-bottom: 1px solid #555;
    padding: 6px;
    height: 2.4rem;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: height 0.2s ease;

    &_done {
      span {
        text-decoration: line-through;
      }
    }

    .list-item__primary-area {
      // display: flex;
      // max-height: 100%;

      // input {
      //   width: 1rem;
      //   height: 1rem;
      //   margin: 0.27rem 0.4rem 0px 0px;
      // }

      // span {
      //   max-width: calc(100% - 1rem - 5px);
      //   font-size: 1.1rem;
      //   max-height: 100%;
      //   flex-grow: 1;
      //   line-height: 1.4;
      //   text-overflow: ellipsis;
      //   overflow: hidden;
      //   white-space: pre-wrap;
      // }
    }

    .list-item__more {
      margin: 10px 0px 0px 0px;
      opacity: 1;
      transition: opacity 0.2s ease;
      &_hidden {
        opacity: 0;
      }
    }

    // &.list-item_text-scroll {
    //   overflow: auto;
    //   .list-item__primary-area {
    //     span {
    //       overflow: visible;
    //     }
    //   }
    // }
    &.list-item_text-expand {
      .list-item__primary-area {
        span {
          word-wrap: break-word;
        }
      }
    }
  }
}
